@import "tailwindcss";

@theme {
    --font-sans: "Baloo 2", sans-serif;

    --color-gray-100: #E4E4EB;
    --color-gray-200: #ADADC3;
    --color-gray-300: #727297;
    --color-gray-400: #26264A;
    --color-gray-500: #12122B;
    --color-gray-600: #090916;

    --color-accent-pupile: #C27CFB;
    --color-accent-blue: #7DA4FF;
    --color-accent-cyan: #55EAE1;

    --color-feedback-info: #8FE93C;
    --color-feedback-success: #1DB995;
    --color-feedback-danger: #F76F63;

    --color-ranking-gold: #E1B825;
    --color-ranking-silver: #5EA2B2;
    --color-ranking-bronze: #D48448;

    --background-image-gradient-colorful: linear-gradient(to right, #AA2AF4 0%, #6121EB 50%, #1DBA95 100%);
    --background-image-gradient-neutral: linear-gradient(to right, #12122B 0%, #23233D 48%, #12122B 100%);
    --background-image-gradient-cyan-dark: linear-gradient(to right, #11212B, #12122B);
    --background-image-gradient-blue-dark: linear-gradient(to right, #212847, #12122B);
    --background-image-gradient-purple-dark: linear-gradient(to right, #271C3D, #12122B);

    --text-heading-xl: 28px;
    --text-heading-lg: 20px;
    --text-heading-md: 18px;
    --text-heading-sm: 16px;
    --text-body-md: 16px;
    --text-body-sm: 14px;

    --leading-heading: 1.4;
    --leading-body-md: 24px;
    --leading-body-sm: 16px;

    --font-weight-extrabold: 800;
    --font-weight-regular: 400;
}

@layer base {
    h1 {
        @apply text-gray-100;
        font-size: var(--text-heading-xl);
        line-height: var(--leading-heading);
        font-weight: var(--font-weight-extrabold);
    }

    h2 {
        @apply text-gray-100;
        font-size: var(--text-heading-lg);
        line-height: var(--leading-heading);
        font-weight: var(--font-weight-extrabold);
    }

    h3 {
        @apply text-gray-100;
        font-size: var(--text-heading-md);
        line-height: var(--leading-heading);
        font-weight: var(--font-weight-extrabold);
    }

    h4 {
        @apply text-gray-100;
        font-size: var(--text-heading-sm);
        line-height: var(--leading-heading);
        font-weight: var(--font-weight-extrabold);
    }

    p, span {
        font-size: var(--text-body-md);
        line-height: var(--leading-body-md);
        font-weight: var(--font-weight-regular);
    }

    span {
        @apply text-gray-200;
    }

    p {
        @apply text-gray-100;
    }

    small, .text-sm {
        font-size: var(--text-body-sm);
        line-height: var(--leading-body-sm);
        font-weight: var(--font-weight-regular);
    }
}

@layer components {
    .btn-primary {
        @apply inline-flex items-center justify-center transition-all duration-200 active:scale-95 text-white bg-gradient-colorful border border-[#9747FF] px-6 py-3 rounded-full cursor-pointer;
        font-size: var(--text-body-md);
        font-weight: var(--font-weight-extrabold);
        box-shadow: -10px 10px 24px -3px rgba(154, 42, 244, 0.2), 10px 10px 24px -4px rgba(29, 186, 149, 0.2);
    }

    .btn-secondary {
        @apply inline-flex items-center justify-center transition-all duration-200 active:scale-95 text-white border px-6 py-3 rounded-full cursor-pointer bg-gray-500 border-gray-400;
    }

    .icon {
        @apply rounded-full w-10 h-10 flex items-center justify-center text-heading-lg;
    }
}

:root {
    font-family: var(--font-sans);
    font-optical-sizing: auto;
}

input {
    @apply bg-gray-500 border border-gray-400 px-6 py-3 text-gray-200 text-body-md rounded-full focus:text-gray-100 focus:border-accent-pupile;
}